@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


html,
body {
  width: 100%;
}

body {
  margin: 0;
  background-color: #F7F7FA;
  color: #1F2937;
  font-family: "Inter", sans-serif;
}

#root {
  width: 100%;
}

.app-container {
  max-width: 420px;
  margin: 0 auto;
  padding: 2rem;
  border: 3px solid rgba(119, 118, 118, 0.308);
  text-align: center;
  margin-bottom: 2rem;
}

button {
  font: inherit;
  cursor: pointer;
  background-color: #35A7FE;
  color: white;
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 0.3rem 0.8rem
}

button:hover {
  background-color: #35a7feb2
}

.deleteButton {
  background-color: #dc2626;
}

.deleteButton:hover {
  background-color: #de5555;
}

.headerButtons {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  margin: 1.5rem 0;
}

.headerButtons button {
  padding: 0.6rem 3rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

input,
select,
button {
  font: inherit;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.card {
    background: white;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
    border-radius: 16px;
    padding: 16px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.editCardContent{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cardActions {
  margin-right: 8px;
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}